<div class="jumbotron container-full-bg-index">
    <div class="text-right center">
        <h1><span class="bg-white"><strong>Move & Groove</strong></span></h1>
        <h2><span class="bg-white">Fitness starts with you.</span></h2>
        <p><span class="bg-white">Move & Groove is a free website that helps you track your fitness.</span></p>
    </div>
</div>